<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rooke.mapper.RookeMapper">

	<!--테이블 전체를 sql 조각으로 정의 -->
	<sql id="rookeColumns">
		idx,
		title,
		content,
		writer,
		view_cnt,
		notice_yn,
		secret_yn,
		delete_yn,
		insert_time,
		update_time,
		delete_time
	</sql>
	<!-- 새글 작성 -->
	<insert id="insertBoard" parameterType="RookeDTO">
		insert into tb_board (<include refid="rookeColumns"></include>)
		values (#{idx},#{title},#{content},#{writer},0,ifnull(#{noticeYn},'N'),ifnull(#{secretYn},'N'),'N',now(),null,null)
	</insert>
	<!-- 상세보기 -->
	<select id="selectBoardDetail" parameterType="long" resultType="RookeDTO">
		select <include refid="rookeColumns" /> from tb_board where delete_yn='N' and idx=#{idx}
	</select>
	<!-- 수정 -->
	<update id="updateBoard" parameterType="RookeDTO">
		update tb_board
		set update_time=now(),title=#{title},content=#{content},writer=#{writer},notice_yn=ifnull(#{noticeYn},'N'),secret_yn=ifnull(#{secretYn},'N')
		where idx=#{idx}
	</update>
	<!-- 삭제 -->
	<update id="deleteBoard" parameterType="long">
		update tb_board
		set delete_yn='Y',delete_time=now()
		where idx=#{idx}
	</update>
	<!-- 목록 -->
	<select id="selectBoardList" parameterType="SearchDto" resultType="RookeDTO">
		select <include refid="rookeColumns" />
		from tb_board
		where delete_yn='N'<include refid="search"></include>
		order by idx desc
		limit #{pagination.limitStart},#{recordSize}
		<!--order by notice_yn asc,idx desc,insert_time desc  -->	
	</select>
	<!-- 총 게시글 -->
	<select id="selectBoardTotalCount" parameterType="SearchDto" resultType="int">
		select count(*) from tb_board where delete_yn='N'<include refid="search"></include>
	</select>
	<!-- 게시글 검색 -->
	<sql id="search">
		<!-- 검색키워드가 있을때 -->
		<if test="keyword !=null and keyword !=''">
			<choose>
			<!-- 검색 유형 있을 때 -->
			<when test="searchType !=null and searchType !=''">
				<choose>
					<when test="'title'.equals( searchType )">
						and title like concat('%',#{keyword},'%')
					</when>
					<when test="'content'.equals( searchType )">
						and content like concat('%',#{keyword},'%')
					</when>
					<when test="'writer'.equals( searchType )">
						and writer like concat('%',#{keyword},'%')
					</when>
				
			</choose>
			</when>
		<!-- 전체 검색일 때 -->
		<otherwise>
			and (title like concat('%',#{keyword},'%') or 
			content like concat('%',#{keyword},'%') or 
			writer like concat('%',#{keyword},'%')
			
			)
			
		</otherwise>
		</choose>
		</if>
	</sql>
</mapper>